/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    display: flex;
    width: 100vw;
    height: 15vh;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    border-bottom: 2px solid #6c757d;
    background: linear-gradient(to right, #8e9eab, #eef2f3);
}

h1 {
    font-size: 3rem;
    color: #343a40;
    opacity: 0.85;
}

.button {
    display: flex;
    width: 15rem;
    justify-content: space-around;
}

.button button {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    border: 1px solid #6c757d;
    background: rgba(240, 240, 240, 0.8);
    cursor: pointer;
    color: #343a40;
}

.button button:hover {
    background: #d6d6d6;
    color: #505b69;
}

/* Main Content */
main {
    width: 100vw;
    height: 85vh;
    padding: 2rem;
    background: linear-gradient(to bottom, #f0f2f5, #d6dbe2);
}

.data {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #6c757d;
    height: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background: white;
    opacity: 0.9;
}

.data button {
    width: 6rem;
    height: 2rem;
    border: none;
    border: 1px solid #6c757d;
    border-radius: 0.3rem;
    background: white;
    cursor: pointer;
}

.data button:hover {
    background: #6c757d;
    color: white;
}

/* Pop-up Form */
.above {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2rem;
    visibility: hidden;
}

.above.show {
    visibility: visible;
}

.adddata {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.7rem;
}

.adddata h2 {
    font-size: 2rem;
    color: #343a40;
    opacity: 0.85;
}

.adddata input {
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #6c757d;
    height: 2.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 0.2rem;
}

/* Buttons in Form */
.addbutton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.addbutton button {
    width: 5rem;
    height: 2rem;
    border: none;
    border: 1px solid #6c757d;
    border-radius: 0.3rem;
    margin-left: 1rem;
    background: rgba(240, 240, 240, 0.8);
    cursor: pointer;
}

.addbutton button:hover {
    background: #6c757d;
    color: white;
}
